.log-out{
  display: flex;
  border-bottom: 2px solid #9dd7fb;
  padding-bottom: 20px;
  padding-left: 10px;
  height: 40px;
  text-align: right;
  justify-content: space-between;
  align-items: center;
  margin-right:30px;
  font-size: 30px;
  color: #9dd7fb;
}

.log-out button{
  border: none;
  background-color: white;
  margin-right:30px;
  font-size: 30px;
  font-weight: lighter;
  color: #9dd7fb;
}
